In [28]:
import numpy as np
import pandas as pd
import os

In [29]:
allcsvs = 'C:\\Users\\danishNXT\\Dropbox\\Work 2019\\Fall Semester Stuff\\SPROJ\\Dataset\\Original\\'
allImg = 'C:\\MsData\\'

In [30]:
totalTypes = ['train', 'test', 'val']
csvFiles = [allcsvs + ('{}_all.csv'.format(x)) for x in totalTypes]
csvFiles

['C:\\Users\\danishNXT\\Dropbox\\Work 2019\\Fall Semester Stuff\\SPROJ\\Dataset\\Original\\train_all.csv',
 'C:\\Users\\danishNXT\\Dropbox\\Work 2019\\Fall Semester Stuff\\SPROJ\\Dataset\\Original\\test_all.csv',
 'C:\\Users\\danishNXT\\Dropbox\\Work 2019\\Fall Semester Stuff\\SPROJ\\Dataset\\Original\\val_all.csv']

In [31]:
# pandas dataframe 
dfA = pd.read_csv(csvFiles[0])
dfB = pd.read_csv(csvFiles[1])
dfC = pd.read_csv(csvFiles[2])

frames = [dfA, dfB, dfC]
df = pd.concat(frames, sort=False)
df.head()

,image_id,image_url,questions
0,90fbd03d-8de1-45e8-bd57-26419ac2fc31,http://www.davespianolessons.com/images/P13Z.jpg,Is the child a prodigy?---How long was the pra...
1,1236e320-0e85-42c5-9717-f1afffe3e41e,http://images5.fanpop.com/image/photos/2690000...,Why is Anne so surprised?---Why is she excited...
2,6e0b9faa-ad41-449b-9c3d-ff570e1568cd,http://rack.3.mshcdn.com/media/ZgkyMDEzLzA0LzI...,Why is this man in handcuffs?---Why is this ma...
3,3415bdf8-5f4b-4c7f-9522-7b510c359e83,http://3.bp.blogspot.com/-ab0Cd4ZbYTw/Thhb-MBq...,Are those all dairy cows?---Why are these chil...
4,3dc18299-6d97-4e0d-9e43-408f95b690f8,http://playerstrust.org/wp-content/uploads/201...,What kind of team is this?---What does the act...

In [32]:
all_images_names = set(n.rpartition('.')[0] for n in os.listdir(allImg))
len(all_images_names)

13117

In [33]:
wordList = set()
all_images = []
all_questions = []

for i,row in df.iterrows():
    if row['image_id'] not in all_images_names:
        continue
    
    questions = row['questions'].split('---')
    for question in questions:
        if '?' in question:
            question = question[:question.index('?')]
            
            # remove extra quotes around words
            words = question.split()
            new_words = []
            for word in words:
                new_word = word
                if word[0] in ['"', "'"]:
                    new_word = word[1:]
                if new_word[-1] in ['"', "'"]:
                    new_word = new_word[:-1]
                new_words.append(new_word)
            question = ' '.join(new_words)
            
            question = '<start> ' + question.lower() + ' <end>'
            if (len(question.split()) <= 20):
                wordList.update(question.split())
                all_images.append(row['image_id'])
                all_questions.append(question)

In [9]:
# all_questions_new = []

# for q in all_questions:
#     if len(q.split()) <= 20:
#         all_questions_new.append(q)
#     else:
#         print ("longer")

longer
longer

In [34]:
full_data = pd.DataFrame({'image_id': all_images, 'question': all_questions})
print(full_data.shape)
full_data.head(10)

(65215, 2)

,image_id,question
0,90fbd03d-8de1-45e8-bd57-26419ac2fc31,<start> is the child a prodigy <end>
1,90fbd03d-8de1-45e8-bd57-26419ac2fc31,<start> how long was the practice <end>
2,90fbd03d-8de1-45e8-bd57-26419ac2fc31,<start> has this boy been practicing often <end>
3,90fbd03d-8de1-45e8-bd57-26419ac2fc31,<start> does the student end up mastering the ...
4,90fbd03d-8de1-45e8-bd57-26419ac2fc31,<start> what is he teaching her <end>
5,1236e320-0e85-42c5-9717-f1afffe3e41e,<start> why is anne so surprised <end>
6,1236e320-0e85-42c5-9717-f1afffe3e41e,<start> why is she excited <end>
7,1236e320-0e85-42c5-9717-f1afffe3e41e,<start> how much did she get paid to be in thi...
8,1236e320-0e85-42c5-9717-f1afffe3e41e,<start> what movie is this scene from <end>
9,1236e320-0e85-42c5-9717-f1afffe3e41e,<start> what movie was this from <end>

In [35]:
question_lengths = full_data['question'].str.split().apply(lambda e: len(e))
print(question_lengths.max())
print(full_data['question'].iloc[question_lengths.idxmax()])

max_len = 20

20
<start> did you not know that it is important to have the camera flash off when taking a selfie <end>

In [36]:
word2index = {val:index for index, val in enumerate(sorted(wordList))}
index2word = np.array(list(word2index.keys()))
len(word2index)

10759

In [37]:
print (word2index['<start>'])
print (word2index['<end>'])

78
77

In [38]:
def pad(ques):
    words = ques.split()
    
    padding = ['<end>' for _ in range(max_len - len(words))]
    full_ques = words + padding
    return full_ques

def to_categorical(ques_words):
    return [ word2index[w] for w in ques_words ]

In [39]:
full_data['question'] = full_data['question'].apply(lambda q: to_categorical(pad(q)))
full_data.head()

,image_id,question
0,90fbd03d-8de1-45e8-bd57-26419ac2fc31,"[78, 4989, 9617, 1735, 79, 7325, 77, 77, 77, 7..."
1,90fbd03d-8de1-45e8-bd57-26419ac2fc31,"[78, 4685, 5556, 10363, 9617, 7212, 77, 77, 77..."
2,90fbd03d-8de1-45e8-bd57-26419ac2fc31,"[78, 4408, 9660, 1135, 842, 7214, 6417, 77, 77..."
3,90fbd03d-8de1-45e8-bd57-26419ac2fc31,"[78, 2869, 9617, 9215, 3215, 10129, 5790, 9617..."
4,90fbd03d-8de1-45e8-bd57-26419ac2fc31,"[78, 10454, 4989, 4436, 9515, 4503, 77, 77, 77..."

In [40]:
full_data.to_csv('CTC_data.csv', index=False, header=True)
with open('index2word.npy', 'wb') as f:
    np.save(f, index2word)

In [41]:
index2word.shape

(10759,)

In [42]:
with open('word2ind.npy', 'wb') as f:
    np.save(f, word2index)